<!DOCTYPE html>
<html lang="TW">
<head>
    <meta charset="UTF-8">
    <title>登入</title>
</head>
<body>
<title>Node</title>
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<form id="logined" method="GET" action="http://localhost:3000/logined">
    <label>使用者帳號：</label><input type="text" id="username" name="username" /><br>
    <label>使用者密碼：</label><input type="text" id="uesrpassword" name="uesrpassword" /><br>
    <input type="submit" value="登入" /><br>
</form>


</body>
</html>